<template>
  <el-col>
    <FormPersonalData
   
      :setFatcaForm="['usNationalityAndBirthCountry',
      'usGreenCard','obligationToPayTax','residentForTaxUSCollection']"
  
    ></FormPersonalData>

    <FormPBPersonalData
   
      :setFatcaForm="['pbUSNationalityAndBirthCountry',
      'pbUSGreenCard','pbObligationToPayTax','pbResidentForTaxUSCollection']"
  
    ></FormPBPersonalData>
  </el-col>
</template>
<script>
import FormPersonalData from "../../components/FormPersonalData/FormPersonalData";
import FormPBPersonalData from "../../components/FormPBPersonalData/FormPBPersonalData";
export default {
  name: "rule-20",

  created() {},

  components: {
    FormPersonalData,
    FormPBPersonalData
  }
};
</script>

<style>
</style>