<template>
  <el-row :gutter="10">
    <el-col :sm="4">
      <span>Basic Insure Detail :</span>
    </el-col>
    <el-col :sm="20">
      <el-form justify="space-between" :model="insureDetail" class="demo-form-inline text-center">
        <el-col v-for="(item, index) in getForm" :key="index" :span="6">
          <el-form-item :label="`${item.label} :`" v-if="item.label !== 'Premium Payment' ">
            <el-input v-model="$store.state.basicInsureDetail[item.key]" placeholder></el-input>
          </el-form-item>
          <el-form-item :label="`${item.label} :`" v-if="item.label === 'Premium Payment'">
            <el-select
              placeholder="Premium Payment"
              v-model="$store.state.basicInsureDetail[item.key]"
            >
              <el-option
                v-for="item in optionspremiumPayment"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col v-if="getPlan">
          <el-form-item label="Plan Header Product Detail">
            <el-input
              v-model="insureDetail.planHeaderProductDetail.planCode"
              @input="onChange"
              placeholder
            ></el-input>
          </el-form-item>
        </el-col>
      </el-form>
    </el-col>
  </el-row>
</template>

<script>
import { filter, findIndex, get } from "lodash";

export default {
  // name: "form-basiclnsure-detail",
  data() {
    return {
      bodyRes: {
        planCode: get(
          this.$store.state.selectCase.basicInsureDetail,
          "planCode"
        ),
        planName: get(
          this.$store.state.selectCase.basicInsureDetail,
          "planName"
        ),
        insuredAmount: get(
          this.$store.state.selectCase.basicInsureDetail,
          "insuredAmount"
        ),
        premiumAmount: get(
          this.$store.state.selectCase.basicInsureDetail,
          "premiumAmount"
        ),
        topupPremiumAmount: get(
          this.$store.state.selectCase.basicInsureDetail,
          "topupPremiumAmount"
        ),
        planType: get(
          this.$store.state.selectCase.basicInsureDetail,
          "planType"
        ),
        premiumIndicator: get(
          this.$store.state.selectCase.basicInsureDetail,
          "premiumIndicator"
        ),
        productDetail: get(
          this.$store.state.selectCase.basicInsureDetail,
          "productDetail"
        ),
        premiumPayment: get(
          this.$store.state.selectCase.basicInsureDetail,
          "premiumPayment"
        )
      },
      optionspremiumPayment: [
        {
          value: "1",
          label: "รายเดือน"
        },
        {
          value: "3",
          label: "ราย 3 เดือน"
        },
        {
          value: "6",
          label: "ราย 6 เดือน"
        },
        {
          value: "Y",
          label: "รายปี"
        },
        {
          value: "S",
          label: "ครั้งเดียว"
        }
      ],
      formArr: [
        {
          label: "Plan Code",
          key: "planCode"
        },
        {
          label: "Plan Name",
          key: "planName"
        },
        {
          label: "Insured Amount",
          key: "insuredAmount"
        },
        {
          label: "Premium Amount",
          key: "premiumAmount"
        },
        {
          label: "Topup Premium Amount",
          key: "topupPremiumAmount"
        },
        {
          label: "Plan Type",
          key: "planType"
        },
        {
          label: "Premium Indicator",
          key: "premiumIndicator"
        },
        {
          label: "Product Detail",
          key: "productDetail"
        },
        {
          label: "Premium Payment",
          key: "premiumPayment"
        }
      ],
      insureDetail: {
        planCode: "",
        planName: "",
        insuredAmount: "",
        premiumAmount: "",
        topupPremiumAmount: "",
        planType: "",
        premiumIndicator: "",
        productDetail: "",
        premiumPayment: "",
        planHeaderProductDetail: {
          planCode: ""
        }
      }
    };
  },
  methods: {
    onChange() {
      this.$store.dispatch("setInsureDetail", this.insureDetail);
    }
  },
  computed: {
    getForm() {
      return filter(this.formArr, data => {
        return (
          findIndex(this.useFormList, arr => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
    getPlan() {
      return (
        findIndex(this.useFormList, arr => {
          return arr == "planHeaderProductDetail";
        }) >= 0
      );
    }
  },
  props: {
    useFormList: {
      type: Array,
      default: () => []
    }
  }
};
</script>

<style>
</style>