<template>
  <el-col>
    <FormPersonalData
      :setFatcaForm="['postalCode']"
      :setPersonalDetailForm="[
        'firstName',
        'lastName',
        'enFirstName',
        'enLastName',
      ]"
    ></FormPersonalData>
    <FormBeneficiaryDetails
      :useFormList="[
        'idCard',
        'firstName',
        'lastName',
        'enFirstName',
        'enLastName',
        'relation',
      ]"
    ></FormBeneficiaryDetails>
  </el-col>
</template>

<script>
import FormPersonalData from "../../components/FormPersonalData/FormPersonalData";
import FormBeneficiaryDetails from "../../components/FormBeneficiaryDetails/FormBeneficiaryDetails";
export default {
  name: "rule-17",
  components: {
    FormPersonalData,
    FormBeneficiaryDetails,
  },
};
</script>

<style>
</style>