<template>
  <el-row :gutter="10">
    <el-col :sm="4">
      <span>Personal Data :</span>
    </el-col>
    <el-col :sm="20">
      <el-row>
        <el-col>
          <el-row :gutter="10">
            <el-form
              justify="space-between"
              :model="personalData"
              class="demo-form-inline text-center"
            >
              <el-col v-for="(item, index) in getForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`">
                  <p style=" font-size: 10px;color:red">{{item.labelred}}</p>
                  <el-input v-model="$store.state.personalData[item.key]"></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-row>
        </el-col>
      </el-row>
      <el-col>
        <el-collapse>
          <el-collapse-item v-if="getAddressDetailForm.length !=0" title="Address Detail" name="2">
            <el-form justify="space-between" class="demo-form-inline text-center">
              <el-col v-for="(item, index) in getAddressDetailForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`">
                  <el-input v-model="$store.state.personalData.addressDetail[item.key]" placeholder></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-collapse-item>

          <el-collapse-item
            v-if="getPresentAddressDetailForm.length !=0"
            title="Present Address Detail"
            name="3"
          >
            <el-form justify="space-between" class="demo-form-inline text-center">
              <el-col v-for="(item, index) in getPresentAddressDetailForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`">
                  <el-input
                    v-model="$store.state.personalData.presentAddressDetail[item.key]"
                    placeholder
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-collapse-item>
          <el-collapse-item
            v-if="getOfficeAddressDetailForm.length !=0"
            title="Office Address Detail"
            name="4"
          >
            <el-form justify="space-between" class="demo-form-inline text-center">
              <el-col v-for="(item, index) in getOfficeAddressDetailForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`">
                  <el-input
                    v-model="$store.state.personalData.officeAddressDetail[item.key]"
                    placeholder
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-collapse-item>

          <el-collapse-item
            v-if="getFatcaForm.length !=0 && !$store.state.testCase == 'RULE_20'"
            title="Fatca"
            name="5"
          >
            <el-form justify="space-between" class="demo-form-inline text-center">
              <el-col v-for="(item, index) in getFatcaForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`">
                  <el-input v-model="$store.state.personalData.fatca[item.key]" placeholder></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-collapse-item>

          <el-row :gutter="10">
            <el-form
              justify="space-between"
              v-if="getFatcaForm.length !=0 && $store.state.testCase == 'RULE_20'"
              class="demo-form-inline text-center"
            >
              <el-col v-for="(item, index) in getFatcaForm" :key="index" :span="8">
                <el-form-item :label="`${item.label} :`">
                  <el-input v-model="$store.state.personalData.fatca[item.key]"></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-row>

          <el-collapse-item v-if="getHealthForm.length !=0" title="Health" name="5">
            <el-form justify="space-between" class="demo-form-inline text-center">
              <el-col v-for="(item, index) in getHealthForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`">
                  <el-input v-model="$store.state.personalData.health[item.key]" placeholder></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-collapse-item>
        </el-collapse>
      </el-col>
    </el-col>
  </el-row>
</template>

<script>
import { filter, findIndex } from "lodash";
export default {
  name: "form-personal-data",
  computed: {
    getForm() {
      return filter(this.personalDetailForm, (data) => {
        return (
          findIndex(this.setPersonalDetailForm, (arr) => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
    getAddressDetailForm() {
      return filter(this.addressDetailForm, (data) => {
        return (
          findIndex(this.setAddressDetailForm, (arr) => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
    getPresentAddressDetailForm() {
      return filter(this.presentAddressDetailForm, (data) => {
        return (
          findIndex(this.setPresentAddressDetailForm, (arr) => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
    getOfficeAddressDetailForm() {
      return filter(this.officeAddressDetailForm, (data) => {
        return (
          findIndex(this.setOfficeAddressDetailForm, (arr) => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
    getFatcaForm() {
      return filter(this.fatcaForm, (data) => {
        return (
          findIndex(this.setFatcaForm, (arr) => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
    getHealthForm() {
      return filter(this.health, (data) => {
        return (
          findIndex(this.setHealth, (arr) => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
  },
  props: {
    setPersonalDetailForm: {
      type: Array,
      default: () => [],
    },
    setAddressDetailForm: {
      type: Array,
      default: () => [],
    },
    setPresentAddressDetailForm: {
      type: Array,
      default: () => [],
    },
    setOfficeAddressDetailForm: {
      type: Array,
      default: () => [],
    },
    setFatcaForm: {
      type: Array,
      default: () => [],
    },
    setHealth: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      personalDetailForm: [
        {
          label: "ID Card",
          key: "idCard",
        },
        {
          label: "First Name",
          key: "firstName",
        },
        {
          label: "Last Name",
          key: "lastName",
        },
        {
          label: "EN First Name",
          key: "enFirstName",
        },
        {
          label: "EN Last Name",
          key: "enLastName",
        },
        {
          label: "Age",
          key: "age",
        },
        {
          label: "Sex",
          key: "sex",
        },
        // {
        //   label: "Birthday",
        //   labelred: "*ระบุวันเกิดในรูปแบบ dd/MM/yyyy",
        //   key: "birthday",
        // },
        {
          label: "Nationality",
          key: "nationality",
        },
        {
          label: "Weight (kg)",
          key: "weight",
        },
        {
          label: "Height (cm)",
          key: "height",
        },
        {
          label: "BirthWeight",
          key: "birthWeight",
        },
        {
          label: "Minor Marital Status",
          key: "minorMaritalStatus",
        },
        {
          label: "Marital Status",
          key: "maritalStatus",
        },
        {
          label: "Mobile Number",
          key: "mobileNumber",
        },
        {
          label: "Health Question",
          key: "healthQuestion",
        },
        {
          label: "Additional Information",
          key: "additionalInformation",
        },
        {
          label: "Occupation Code",
          key: "occupationCode",
        },
        {
          label: "Client Number",
          key: "clientNumber",
        },
        {
          label: "AgeIn Month",
          key: "ageInMonth",
        },
        {
          label: "EN Middle Name",
          key: "enMiddleName",
        },
        {
          label: "Full Name",
          key: "fullName",
        },
        {
          label: "IS ID Card",
          key: "isIDCard",
        },
        {
          label: "Foreign Id Card",
          key: "foreignIdCard",
        },

        {
          label: "Province Code",
          key: "provinceCode",
        },
        {
          label: "AgeDay",
          key: "ageDay",
        },
        {
          label: "Birthday",
          labelred: "*ระบุวันเกิดในรูปแบบ dd/MM/yyyy(เป็นรูปแบบ ค.ศ.)",
          key: "birthday",
        },
      ],
      health: [
        {
          label: "Drug Dealing",
          key: "drugDealing",
        },
        {
          label: "Drug Intake",
          key: "drugIntake",
        },
        {
          label: "Alcohol",
          key: "alcohol",
        },
        {
          label: "Alcohol Quit",
          key: "alcoholQuit",
        },
        {
          label: "Alcohol Date Quit",
          key: "alcoholDateQuit",
        },
        {
          label: "Alcohol Type",
          key: "alcoholType",
        },
        {
          label: "Alcohol Quantity",
          key: "alcoholQuantity",
        },
        {
          label: "Alcohol Frequency",
          key: "alcoholFrequency",
        },
        {
          label: "Smoking",
          key: "smoking",
        },
        {
          label: "Smoking Quit",
          key: "smokingQuit",
        },
        {
          label: "Smoking Date Quit",
          key: "smokingDateQuit",
        },
        {
          label: "Smoke Perday",
          key: "smokePerDay",
        },
        {
          label: "Smoke Period",
          key: "smokePeriod",
        },
        {
          label: "Six Month Change",
          key: "sixMonthChange",
        },
        {
          label: "Six Month Change Increased",
          key: "sixMonthChangeIncreased",
        },
        {
          label: "Six Month Change Kg Increased",
          key: "sixMonthChangeKgIncreased",
        },
        {
          label: "Six Month Change Decreased",
          key: "sixMonthChangeDecreased",
        },
        {
          label: "Six Month Change Kg Decreased",
          key: "sixMonthChangeKgDecreased",
        },
        {
          label: "Insured Illness",
          key: "insuredIllness",
        },
        {
          label: "Other Symptoms",
          key: "otherSymptoms",
        },
        {
          label: "Medical History Illness",
          key: "medicalHistoryIllness",
        },
        {
          label: "Medical History Examination",
          key: "medicalHistoryExamination",
        },
        {
          label: "Critical Illness Disease",
          key: "criticalIllnessDisease",
        },
        {
          label: "Rejected Declined Postponed",
          key: "rejectedDeclinedPostponed",
        },
        {
          label: "Drug Problem",
          key: "drugProblem",
        },
        {
          label: "Drug Type",
          key: "drugType",
        },
        {
          label: "Spouse HIV",
          key: "spouseHIV",
        },
        {
          label: "Spouse Hepatitis",
          key: "spouseHepatitis",
        },
      ],
      presentAddressDetailForm: [
        {
          label: "House Number",
          key: "houseNumber",
        },
        {
          label: "Moo",
          key: "moo",
        },
        {
          label: "Sub Disctrict",
          key: "subDisctrict",
        },
        {
          label: "District",
          key: "district",
        },
        {
          label: "Province Code",
          key: "provinceCode",
        },
      ],
      officeAddressDetailForm: [
        {
          label: "House Number",
          key: "houseNumber",
        },
        {
          label: "Moo",
          key: "moo",
        },
        {
          label: "Sub Disctrict",
          key: "subDisctrict",
        },
        {
          label: "District",
          key: "district",
        },
        {
          label: "Province Code",
          key: "provinceCode",
        },
      ],
      addressDetailForm: [
        {
          label: "Building Name",
          key: "buildingName",
        },
        {
          label: "Floor",
          key: "floor",
        },
        {
          label: "No",
          key: "no",
        },
        {
          label: "House Number",
          key: "houseNumber",
        },
        {
          label: "Moo",
          key: "moo",
        },
        {
          label: "Sub Disctrict",
          key: "subDisctrict",
        },
        {
          label: "District",
          key: "district",
        },
        {
          label: "Avenue",
          key: "avenue",
        },
        {
          label: "Street",
          key: "street",
        },

        {
          label: "Province",
          key: "province",
        },
        {
          label: "Postal Code",
          key: "postalCode",
        },
        {
          label: "Telephone Number",
          key: "telephoneNumber",
        },
        {
          label: "MobileNumber",
          key: "mobileNumber",
        },
        {
          label: "Email",
          key: "email",
        },
        {
          label: "Fax",
          key: "fax",
        },
        {
          label: "Province Code",
          key: "provinceCode",
        },
      ],
      personalData: {
        idCard: "",
        fullName: "",
        foreignIdCard: "",
        sex: "",
        age: "",
        ageDay: "",
        birthday: "",
        weight: "",
        birthWeight: "",
        height: "",
        healthQuestion: "",
        mobileNumber: "",
        occupationCode: "",
        clientNumber: "",
        nationality: "",
        ageInMonth: "",
        firstName: "",
        lastName: "",
        enFirstName: "",
        enLastName: "",
        enMiddleName: "",
        maritalStatus: "",
        minorMaritalStatus: "",
        additionalInformation: "",
        isIDCard: "",
        addressDetail: {
          buildingName: "",
          floor: "",
          no: "",
          moo: "",
          houseNumber: "",
          avenue: "",
          street: "",
          district: "",
          subDisctrict: "",
          province: "",
          postalCode: "",
          telephoneNumber: "",
          mobileNumber: "",
          email: "",
          provinceCode: "",
          fax: "",
        },
        presentAddressDetail: {
          buildingName: "",
          floor: "",
          no: "",
          moo: "",
          houseNumber: "",
          avenue: "",
          street: "",
          district: "",
          subDisctrict: "",
          province: "",
          postalCode: "",
          telephoneNumber: "",
          mobileNumber: "",
          email: "",
          fax: "",
          provinceCode: "",
        },
        officeAddressDetail: {
          buildingName: "",
          floor: "",
          no: "",
          moo: "",
          houseNumber: "",
          avenue: "",
          street: "",
          district: "",
          subDisctrict: "",
          province: "",
          postalCode: "",
          telephoneNumber: "",
          mobileNumber: "",
          email: "",
          fax: "",
          provinceCode: "",
        },
        health: {
          drugDealing: "",
          drugIntake: "",
          alcohol: "",
          alcoholQuit: "",
          alcoholDateQuit: "",
          smoking: "",
          smokingQuit: "",
          smokingDateQuit: "",
          sixMonthChange: "",
          sixMonthChangeIncreased: "",
          sixMonthChangeDecreased: "",
          insuredIllness: "",
          otherSymptoms: "",
          medicalHistoryIllness: "",
          medicalHistoryExamination: "",
          criticalIllnessDisease: "",
          rejectedDeclinedPostponed: "",
          drugProblem: "",
        },
        fatca: {
          usNationalityAndBirthCountry: "",
          usNationalityAndBirthCountryDetail: "",
          usGreenCard: "",
          obligationToPayTax: "",
          residentForTaxUSCollection: "",
          pbUSNationalityAndBirthCountry: "",
          pbUSNationalityAndBirthCountryDetail: "",
          pbUSGreenCard: "",
          pbObligationToPayTax: "",
          pbResidentForTaxUSCollection: "",
        },
        ...this.$store.state.selectCase.requestBody.personalData,
      },
      fatcaForm: [
        {
          key: "usNationalityAndBirthCountry",
          label: "US Nationality And BirthCountry",
        },
        {
          key: "usNationalityAndBirthCountryDetail",
          label: "US Nationality And BirthCountry Detail",
        },
        {
          key: "usGreenCard",
          label: "US Green Card",
        },
        {
          key: "obligationToPayTax",
          label: "Obligation To Pay Tax",
        },
        {
          key: "residentForTaxUSCollection",
          label: "Resident For Tax US Collection",
        },
        {
          key: "pbUSNationalityAndBirthCountry",
          label: "PB US Nationality And BirthCountry",
        },
        {
          key: "pbUSNationalityAndBirthCountryDetail",
          label: "PB US Nationality And BirthCountry Detail",
        },
        {
          key: "pbUSGreenCard",
          label: "PB US Green Card",
        },
        {
          key: "pbObligationToPayTax",
          label: "PB Obligation To Pay Tax",
        },

        {
          key: "pbResidentForTaxUSCollection",
          label: "PB Resident For Tax US Collection",
        },
      ],
    };
  },
  methods: {
    onChange() {
      this.$store.dispatch("setPersonalData", this.personalData);
    },
  },
};
</script>

<style>
</style>