<template>
  <el-col>
    <FormPersonalData :setPersonalDetailForm="['idCard','occupationCode']"></FormPersonalData>
    <FormBasicInsureDetail :useFormList="['planCode','insuredAmount']"></FormBasicInsureDetail>
    <FormRiderInsureDetails :useFormList="['planCode','insuredAmount']"></FormRiderInsureDetails>
  </el-col>
</template>

<script>
import FormPersonalData from "../../components/FormPersonalData/FormPersonalData";
import FormBasicInsureDetail from "../../components/FormBasicInsureDetail/FormBasicInsureDetail";
import FormRiderInsureDetails from "../../components/FormRiderInsureDetails/FormRiderInsureDetails";

export default {
  name: "rule-13",

  created() {},

  components: {
    FormPersonalData,
    FormBasicInsureDetail,
    FormRiderInsureDetails
  }
};
</script>

<style>
</style>