<template>
<el-col>
      <FromBody :useFormList="['agentCode']"></FromBody>

  <FormBasicInsureDetail :useFormList="['planCode']"></FormBasicInsureDetail>
  <FormRiderInsureDetails :useFormList="['planCode']"></FormRiderInsureDetails>
  </el-col>
</template>

<script>

import FormBasicInsureDetail from "../../components/FormBasicInsureDetail/FormBasicInsureDetail";
import FormRiderInsureDetails from "../../components/FormRiderInsureDetails/FormRiderInsureDetails";
import FromBody from "../../components/FormReqBody/FormReqBody";

export default {
  name: "rule-05",
  components: {
    FormBasicInsureDetail,
    FormRiderInsureDetails,
    FromBody
  },

};
</script>

<style>
</style>