<template>
  <el-col>
     <FormPersonalData    
      :setPersonalDetailForm="['idCard']"     
    ></FormPersonalData>
    <FormPBPersonalData
      :setPersonalDetailForm="['idCard','sex','age','weight','height','occupationCode','nationality','healthQuestion','firstName','lastName','payorRelationship','healthQuestion']"
      :setpbHealthForm="['criticalIllnessDisease','visionDisorderFemale','symptomFemaleList','medicalHistory','medicalHistoryExamination','rejectedDeclinedPostponed',
                'alcohol','alcoholQuit','alcoholDateQuit','alcoholType','alcoholQuantity','alcoholFrequency',
                'sixMonthChange','sixMonthChangeIncreased','sixMonthChangeDecreased','sixMonthChangeKgIncreased','sixMonthChangeKgDecreased']"
    ></FormPBPersonalData>
     <FormBasicInsureDetail :useFormList="['planCode']"></FormBasicInsureDetail>
       <FormRiderInsureDetails :useFormList="['planCode']"></FormRiderInsureDetails>
  </el-col>
</template>

<script>
import FormRiderInsureDetails from "../../components/FormRiderInsureDetails/FormRiderInsureDetails";
import FormPBPersonalData from "../../components/FormPBPersonalData/FormPBPersonalData";
import FormPersonalData from "../../components/FormPersonalData/FormPersonalData";
import FormBasicInsureDetail from "../../components/FormBasicInsureDetail/FormBasicInsureDetail";
export default {
  name: "rule-16",
  components: {
    FormBasicInsureDetail,
    FormPersonalData,
    FormPBPersonalData,
    FormRiderInsureDetails
    
  
  }
};
</script>

<style>
</style>