<template>
  <el-row>
    <el-col :sm="24">
      <el-row justify="start">
        <span>CriticalIllnessDeseaseDetailList</span>
        <i
          style="margin-left:1%;"
          v-on:click="addData"
          class="custom-icon el-icon-circle-plus-outline"
        ></i>
      </el-row>
    </el-col>
    <el-col :sm="24" style="margin-Top:1%;">
      <ts-table
        :dataTable="$store.state.personalData.health.criticalIllnessDetailList"
        :tableColumns="getForm"
        :onRemove="onRemove"
      ></ts-table>
    </el-col>
  </el-row>
</template>

<script>
import { filter, findIndex } from "lodash";
import TsTable from "../TsTable/TsTable";

export default {
  name: "form-criticalillness-details",
  components: {
    TsTable,
  },
  computed: {
    getForm() {
      return filter(this.mapping, (data) => {
        return (
          findIndex(this.useFormList, (arr) => {
            return arr == data.prop;
          }) >= 0
        );
      });
    },
  },
  data() {
    return {
      formArr: [
        // {
        //   planCode: "",
        //   planName: "",
        //   insuredAmount: "",
        //   premiumAmount: "",
        //   topupPremiumAmount: "",
        //   planType: "",
        //   premiumIndicator: ""
        // }
      ],
      mapping: [
        {
          prop: "diseaseName",
          label: "Disease Name",
        },
        {
          prop: "treatmentDate",
          label: "Treatment Date",
        },
        {
          prop: "treatmentAndCurrentSymtoms",
          label: "Treatement And CurrentSymtoms",
        },
        {
          prop: "hospitalName",
          label: "Hospital Name",
        },
      ],
    };
  },
  methods: {
    addData() {
      this.formArr.push({
        diseaseName: "",
        treatmentDate: "",
        treatmentAndCurrentSymptoms: "",
        hospitalName: "",
      });
      this.onChange();
    },
    findLabel(data) {
      return this.mapping[data].label;
    },
    onRemove(index) {
      this.formArr.splice(index, 1);
    },
    onChange() {
      this.$store.dispatch("setCriticalIllnessDetailList", this.formArr);
    },
  },
  props: {
    useFormList: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<style scoped>
.el-button {
  color: #ffffff;
  background-color: #368cbf;
  border-color: #368cbf;
}
.el-button:hover,
.el-button:focus {
  color: #ffffff;
  background-color: #589cc4;
  border-color: #589cc4;
}
.custom-icon {
  cursor: pointer;
  font-size: 2rem;
  color: #368cbf;
}
</style>