<template>
  <el-row>
    <el-col :sm="24">
      <el-row justify="start">
        <span>MedicalHistoryExaminationList</span>
        <i
          style="margin-left:1%;"
          v-on:click="addData"
          class="custom-icon el-icon-circle-plus-outline"
        ></i>
      </el-row>
    </el-col>
    <el-col :sm="24" style="margin-Top:1%;">
      <ts-table
        :dataTable="$store.state.personalData.health.medicalHistoryExaminationDetailList"
        :tableColumns="getForm"
        :onRemove="onRemove"
      ></ts-table>
    </el-col>
  </el-row>
</template>

<script>
import { filter, findIndex } from "lodash";
import TsTable from "../TsTable/TsTable";

export default {
  name: "form-medicalHistoryExaminationDetails-details",
  components: {
    TsTable
  },
  computed: {
    getForm() {
      return filter(this.mapping, data => {
        return (
          findIndex(this.useFormList, arr => {
            return arr == data.prop;
          }) >= 0
        );
      });
    }
  },
  data() {
    return {
      formArr: [
        // {
        //   planCode: "",
        //   planName: "",
        //   insuredAmount: "",
        //   premiumAmount: "",
        //   topupPremiumAmount: "",
        //   planType: "",
        //   premiumIndicator: ""
        // }
      ],
      mapping: [
        {
          prop: "examinationName",
          label: "Examination Name"
        },
        {
          prop: "examinationDate",
          label: "Examination Date"
        },
        {
          prop: "physicianOpinion",
          label: "Physician Opinion"
        },
        {
          prop: "symptomName",
          label: "Symptom Name"
        },
        {
          prop: "treatmentDate",
          label: "Treatment Date"
        },
        {
          prop: "medicalHistoryName",
          label: "MedicalHistory Name"
        },
        {
          prop: "hospitalName",
          label: "Hospital Name"
        },
        {
          prop: "result",
          label: "Result"
        },
        {
          prop: "doctorName",
          label: "Doctor Name"
        },
      ]
    };
  },
  methods: {
    addData() {
      this.formArr.push({
        examinationName: "",
        examinationDate: "",
        physicianOpinion: "",
        symptomName:"",
        treatmentDate:"",
        medicalHistoryName: "",
        hospitalName:"",
        result: "",
        doctorName: "",
      });
      this.onChange();
    },
    findLabel(data) {
      return this.mapping[data].label;
    },
    onRemove(index) {
      this.formArr.splice(index, 1);
    },
    onChange() {
      this.$store.dispatch("setMedicalHistoryExaminationDetailList", this.formArr);
    }
  },
  props: {
    useFormList: {
      type: Array,
      default: () => []
    }
  }
};
</script>

<style scoped>
.el-button {
  color: #ffffff;
  background-color: #368cbf;
  border-color: #368cbf;
}
.el-button:hover,
.el-button:focus {
  color: #ffffff;
  background-color: #589cc4;
  border-color: #589cc4;
}
.custom-icon {
  cursor: pointer;
  font-size: 2rem;
  color: #368cbf;
}
</style>