<template>
  <el-form>
    <el-table :data="dataTable" style="width: 100%" empty-text="No Data" border>
      <el-table-column
        v-for="column in tableColumns"
        :key="column.label"
        :min-width="column.minWidth"
        :prop="column.prop"
        :label="column.label"
      >
        <template slot-scope="scope">
          <el-select
            v-model="scope.row[column.prop]"
            :placeholder="column.placeholder"
            v-if="column.type === 'select'"
          >
            <el-option
              v-for="item in column.options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
          <el-form-item v-else :prop="column.prop" :rules="column.rules">
            <el-input v-model="scope.row[column.prop]"></el-input>
          </el-form-item>
        </template>
      </el-table-column>
      <el-table-column label="Operations">
        <template slot-scope="scope">
          <el-button
            style="text-center"
            size="30"
            type
            icon="el-icon-delete"
            @click="onRemove(scope.$index)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
  </el-form>
</template>

<script>
export default {
  name: "ts-table",
  props: {
    tableColumns: {
      type: Array,
      default: () => {
        return [];
      }
    },
    dataTable: {
      type: Array,
      default: () => {
        return [];
      }
    },
    onRemove: {
      type: Function,
      default: () => {}
    }
  }
};
</script>

<style>
</style>