<template>
  <el-row :gutter="10">
    <el-col :sm="4">
      <span>Personal Data :</span>
    </el-col>
    <el-col :sm="20">
      <el-row>
        <el-col>
          <el-row :gutter="10">
            <el-form
              justify="space-between"
              :model="personalData"
              class="demo-form-inline text-center"
            >
              <el-col v-for="(item, index) in getForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`"  >
                  <el-input v-model="$store.state.personalData[item.key]"></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-row>
        
        </el-col>
      </el-row>
      <el-col>
        <el-collapse>
          <el-item v-if="getAddressDetailForm.length !=0" title="Address Detail">
            <el-form justify="space-between" class="demo-form-inline text-center">
              <el-col v-for="(item, index) in getAddressDetailForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`">
                  <el-input v-model="$store.state.personalData.addressDetail[item.key]" placeholder></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-item>

          <el-collapse-item
            v-if="getPresentAddressDetailForm.length !=0"
            title="Present Address Detail"
            name="3"
          >
            <el-form justify="space-between" class="demo-form-inline text-center">
              <el-col v-for="(item, index) in getPresentAddressDetailForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`">
                  <el-input
                    v-model="$store.state.personalData.presentAddressDetail[item.key]"
                    placeholder
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-collapse-item>
          <el-collapse-item
            v-if="getOfficeAddressDetailForm.length !=0"
            title="Office Address Detail"
            name="4"
          >
            <el-form justify="space-between" class="demo-form-inline text-center">
              <el-col v-for="(item, index) in getOfficeAddressDetailForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`">
                  <el-input
                    v-model="$store.state.personalData.officeAddressDetail[item.key]"
                    placeholder
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-collapse-item>
          <el-collapse-item v-if="getFatcaForm.length !=0" title="Fatca" name="5">
            <el-form justify="space-between" class="demo-form-inline text-center">
              <el-col v-for="(item, index) in getFatcaForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`">
                  <el-input v-model="$store.state.personalData.fatca[item.key]" placeholder></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-collapse-item>
        </el-collapse>
      </el-col>
    </el-col>
  </el-row>
</template>

<script>
import { filter, findIndex } from "lodash";
export default {
  name: "form-personal-data",
  computed: {
    getForm() {
      return filter(this.personalDetailForm, data => {
        return (
          findIndex(this.setPersonalDetailForm, arr => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
    getAddressDetailForm() {
      return filter(this.addressDetailForm, data => {
        return (
          findIndex(this.setAddressDetailForm, arr => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
    getPresentAddressDetailForm() {
      return filter(this.presentAddressDetailForm, data => {
        return (
          findIndex(this.setPresentAddressDetailForm, arr => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
    getOfficeAddressDetailForm() {
      return filter(this.officeAddressDetailForm, data => {
        return (
          findIndex(this.setOfficeAddressDetailForm, arr => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
    getFatcaForm() {
      return filter(this.fatcaForm, data => {
        return (
          findIndex(this.setFatcaForm, arr => {
            return arr == data.key;
          }) >= 0
        );
      });
    }
  },
  props: {
    setPersonalDetailForm: {
      type: Array,
      default: () => []
    },
    setAddressDetailForm: {
      type: Array,
      default: () => []
    },
    setPresentAddressDetailForm: {
      type: Array,
      default: () => []
    },
    setOfficeAddressDetailForm: {
      type: Array,
      default: () => []
    },
    setFatcaForm: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      personalDetailForm: [
        {
          label: "ID Card",
          key: "idCard"
        },
        {
          label: "Full Name",
          key: "fullName"
        },
        {
          label: "Province Code",
          key: "provinceCode"
        },
        {
          label: "Sex",
          key: "sex"
        },
        {
          label: "Age",
          key: "age"
        },
        {
          label: "Health Question",
          key: "healthQuestion"
        },
        {
          label: "Mobile Number",
          key: "mobileNumber"
        },

        {
          label: "Birthday",
          key: "birthday"
        },
        {
          label: "Weight",
          key: "weight"
        },
        {
          label: "BirthWeight",
          key: "birthWeight"
        },
        {
          label: "Height",
          key: "height"
        },
        {
          label: "Occupation Code",
          key: "occupationCode"
        },
        {
          label: "Client Number",
          key: "clientNumber"
        },
        {
          label: "Nationality",
          key: "nationality"
        },
        {
          label: "AgeIn Month",
          key: "ageInMonth"
        },
        {
          label: "First Name",
          key: "firstName"
        },
        {
          label: "Last Name",
          key: "lastName"
        },
        {
          label: "EN First Name",
          key: "enFirstName"
        },
        {
          label: "EN Last Name",
          key: "enLastName"
        },
        {
          label: "EN Middle Name",
          key: "enMiddleName"
        },
        {
          label: "Sarital Status",
          key: "maritalStatus"
        },
        {
          label: "Minor Marital Status",
          key: "minorMaritalStatus"
        },
        {
          label: "IS ID Card",
          key: "isIDCard"
        }
      ],
      presentAddressDetailForm: [
        {
          label: "District",
          key: "district"
        },
        {
          label: "Sub Disctrict",
          key: "subDisctrict"
        },
        {
          label: "Province Code",
          key: "provinceCode"
        }
      ],
      officeAddressDetailForm: [
        {
          label: "District",
          key: "district"
        },
        {
          label: "Sub Disctrict",
          key: "subDisctrict"
        },
        {
          label: "Province Code",
          key: "provinceCode"
        }
      ],
      addressDetailForm: [
        {
          label: "Building Name",
          key: "buildingName"
        },
        {
          label: "Floor",
          key: "floor"
        },
        {
          label: "No",
          key: "no"
        },
        {
          label: "Moo",
          key: "moo"
        },
        {
          label: "Avenue",
          key: "avenue"
        },
        {
          label: "Street",
          key: "street"
        },
        {
          label: "District",
          key: "district"
        },
        {
          label: "Sub Disctrict",
          key: "subDisctrict"
        },
        {
          label: "Province",
          key: "province"
        },
        {
          label: "Postal Code",
          key: "postalCode"
        },
        {
          label: "Telephone Number",
          key: "telephoneNumber"
        },
        {
          label: "MobileNumber",
          key: "mobileNumber"
        },
        {
          label: "Email",
          key: "email"
        },
        {
          label: "Fax",
          key: "fax"
        },
        {
          label: "Province Code",
          key: "provinceCode"
        }
      ],
      personalData: {
        idCard: "",
        fullName: "",
        sex: "",
        age: "",
        birthday: "",
        weight: "",
        birthWeight: "",
        height: "",
        healthQuestion: "",
        mobileNumber: "",
        occupationCode: "",
        clientNumber: "",
        nationality: "",
        ageInMonth: "",
        firstName: "",
        lastName: "",
        enFirstName: "",
        enLastName: "",
        enMiddleName: "",
        maritalStatus: "",
        minorMaritalStatus: "",
        isIDCard: "",
        addressDetail: {
          buildingName: "",
          floor: "",
          no: "",
          moo: "",
          avenue: "",
          street: "",
          district: "",
          subDisctrict: "",
          province: "",
          postalCode: "",
          telephoneNumber: "",
          mobileNumber: "",
          email: "",
          provinceCode: "",
          fax: ""
        },
        presentAddressDetail: {
          buildingName: "",
          floor: "",
          no: "",
          moo: "",
          avenue: "",
          street: "",
          district: "",
          subDisctrict: "",
          province: "",
          postalCode: "",
          telephoneNumber: "",
          mobileNumber: "",
          email: "",
          fax: "",
          provinceCode: ""
        },
        officeAddressDetail: {
          buildingName: "",
          floor: "",
          no: "",
          moo: "",
          avenue: "",
          street: "",
          district: "",
          subDisctrict: "",
          province: "",
          postalCode: "",
          telephoneNumber: "",
          mobileNumber: "",
          email: "",
          fax: "",
          provinceCode: ""
        },
        fatca: {
          usNationalityAndBirthCountry: "",
          usNationalityAndBirthCountryDetail: "",
          usGreenCard: "",
          obligationToPayTax: "",
          residentForTaxUSCollection: "",
          pbUSNationalityAndBirthCountry: "",
          pbUSNationalityAndBirthCountryDetail: "",
          pbUSGreenCard: "",
          pbObligationToPayTax: "",
          pbResidentForTaxUSCollection: ""
        },
        ...this.$store.state.selectCase.requestBody.personalData
      },
      fatcaForm: [
        {
          key: "usNationalityAndBirthCountry",
          label: "US Nationality And BirthCountry"
        },
        {
          key: "usNationalityAndBirthCountryDetail",
          label: "US Nationality And BirthCountry Detail"
        },
        {
          key: "usGreenCard",
          label: "US Green Card"
        },
        {
          key: "obligationToPayTax",
          label: "Obligation To Pay Tax"
        },
        {
          key: "residentForTaxUSCollection",
          label: "Resident For Tax US Collection"
        },
        {
          key: "pbUSNationalityAndBirthCountry",
          label: "PB US Nationality And BirthCountry"
        },
        {
          key: "pbUSNationalityAndBirthCountryDetail",
          label: "PB US Nationality And BirthCountry Detail"
        },
        {
          key: "pbUSGreenCard",
          label: "PB US Green Card"
        },
        {
          key: "pbObligationToPayTax",
          label: "PB Obligation To Pay Tax"
        },

        {
          key: "pbResidentForTaxUSCollection",
          label: "PB Resident For Tax US Collection"
        }
      ]
    };
  },
  methods: {
    onChange() {
      this.$store.dispatch("setPersonalData", this.personalData);
    }
  }
};
</script>

<style>
</style>