<template>
 <el-row style="background-color:#33363b   !important; padding:20px;"> 
  <el-col :sm="24">
  <create-test></create-test>
  <test></test>
  </el-col>
</el-row>
</template>

<script>
import CreateTest from '../../components/CreateTest/CreateTest'
import Test from '../../components/Test/Test'

export default {
    name:"test-screen",
    components:{
    CreateTest,
    Test
    }
}
</script>

<style>

</style>