<template>
  <el-row :gutter="10">
    <el-col :sm="4">
      <span>PB Personal Data :</span>
    </el-col>
    <el-col :sm="20">
      <el-row>
        <el-col>
          <el-row :gutter="10">
            <el-form
              justify="space-between"
              :model="payorBenefitPersonalData"
              class="demo-form-inline text-center"
            >
              <el-col v-for="(item, index) in getForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`">
                  <el-input
                    v-model="payorBenefitPersonalData[item.key]"
                    @input="onChange"
                    placeholder
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-row>
        </el-col>
      </el-row>
      <el-col>
        <el-collapse>
          <el-collapse-item v-if="getAddressDetailForm.length !=0" title="Address Detail" name="2">
            <el-form justify="space-between" class="demo-form-inline text-center">
              <el-col v-for="(item, index) in getAddressDetailForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`">
                  <el-input
                    v-model="payorBenefitPersonalData.addressDetail[item.key]"
                    @input="onChange"
                    placeholder
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-collapse-item>
          <el-collapse-item v-if="getFatcaForm.length !=0 && !$store.state.testCase == 'RULE_20'" title="Fatca" name="5">
            <el-form justify="space-between" class="demo-form-inline text-center">
              <el-col v-for="(item, index) in getFatcaForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`">
                  <el-input
                    v-model="payorBenefitPersonalData.fatca[item.key]"
                    @input="onChange"
                    placeholder
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-collapse-item>
          
          <el-row :gutter="10">
            <el-form
              justify="space-between"
              v-if="getFatcaForm.length !=0 && $store.state.testCase == 'RULE_20'"
              class="demo-form-inline text-center"
            >
              <el-col v-for="(item, index) in getFatcaForm" :key="index" :span="8">
                <el-form-item :label="`${item.label} :`">
                  <el-input v-model="$store.state.personalData.fatca[item.key]"></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-row>

          <el-collapse-item
            v-if="getPresentAddressDetailForm.length !=0"
            title="  Present Address Detail"
            name="7"
          >
            <el-form justify="space-between" class="demo-form-inline text-center">
              <el-col v-for="(item, index) in getPresentAddressDetailForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`">
                  <el-input
                    v-model="payorBenefitPersonalData.presentAddressDetail[item.key]"
                    @input="onChange"
                    placeholder
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-collapse-item>
          <el-collapse-item
            v-if="getOfficeAddressDetailForm.length !=0"
            title="Office Address Detail"
            name="8"
          >
            <el-form justify="space-between" class="demo-form-inline text-center">
              <el-col v-for="(item, index) in getOfficeAddressDetailForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`">
                  <el-input
                    v-model="payorBenefitPersonalData.officeAddressDetail[item.key]"
                    @input="onChange"
                    placeholder
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-collapse-item>
          <el-collapse-item v-if="getpbHealthForm.length !=0" title="PB Health" name="5">
            <el-form justify="space-between" class="demo-form-inline text-center">
              <el-col v-for="(item, index) in getpbHealthForm" :key="index" :span="6">
                <el-form-item :label="`${item.label} :`">
                  <el-input
                    v-model="payorBenefitPersonalData.pbHealth[item.key]"
                    @input="onChange"
                    placeholder
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-form>
          </el-collapse-item>
        </el-collapse>
      </el-col>
    </el-col>
  </el-row>
</template>


<script>
import { filter, findIndex } from "lodash";
export default {
  name: "form-pBPersonal-data",
  computed: {
    getForm() {
      return filter(this.personalDetailForm, data => {
        return (
          findIndex(this.setPersonalDetailForm, arr => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
    getAddressDetailForm() {
      return filter(this.addressDetailForm, data => {
        return (
          findIndex(this.setAddressDetailForm, arr => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
    getFatcaForm() {
      return filter(this.fatcaForm, data => {
        return (
          findIndex(this.setFatcaForm, arr => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
    getPresentAddressDetailForm() {
      return filter(this.presentAddressDetailForm, data => {
        return (
          findIndex(this.setPresentAddressDetailForm, arr => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
    getOfficeAddressDetailForm() {
      return filter(this.officeAddressDetailForm, data => {
        return (
          findIndex(this.setOfficeAddressDetailForm, arr => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
    getpbHealthForm() {
      return filter(this.pbHealthForm, data => {
        return (
          findIndex(this.setpbHealthForm, arr => {
            return arr == data.key;
          }) >= 0
        );
      });
    }
  },
  props: {
    setPersonalDetailForm: {
      type: Array,
      default: () => []
    },
    setPresentAddressDetailForm: {
      type: Array,
      default: () => []
    },
    setOfficeAddressDetailForm: {
      type: Array,
      default: () => []
    },
    setAddressDetailForm: {
      type: Array,
      default: () => []
    },
    setFatcaForm: {
      type: Array,
      default: () => []
    },
    setpbHealthForm: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      personalDetailForm: [
        {
          label: "ID Card",
          key: "idCard"
        },
         {
          label: "Sex",
          key: "sex"
        },
        {
          label: "Age",
          key: "age"
        },
        {
          label: "Age In Month",
          key: "ageInMonth"
        },
        {
          label: "Birthday",
          key: "birthday"
        },{
          label: "Birth Weight",
          key: "birthWeight"
        }, {
          label: "Weight",
          key: "weight"
        }, {
          label: "Height",
          key: "height"
        },{
          label: "Nationality",
          key: "nationality"
        }, {
          label: "Payor RelationShip",
          key: "payorRelationship"
        },{
          label: "Occupation Code",
          key: "occupationCode"
        }, {
          label: "Health Question",
          key: "healthQuestion"
        },
        {
          label: "Full Name",
          key: "fullName"
        },  {
          label: "First Name",
          key: "firstName"
        },
        {
          label: "Last Name",
          key: "lastName"
        },{
          label: "EN FirstName",
          key: "enFirstName"
        },
        {
          label: "EN Last Name",
          key: "enLastName"
        }, {
          label: "EN MiddleName",
          key: "enMiddleName"
        },

        {
          label: "Province Code",
          key: "provinceCode"
        },{
          label: "Marital Status",
          key: "maritalStatus"
        },
        {
          label: "Client Number",
          key: "clientNumber"
        },{
          label: "Is IDCard",
          key: "isIDCard"
        }, {
          label: "Mobile Number",
          key: "mobileNumber"
        },
        {
          label: "Minor Marital Status",
          key: "minorMaritalStatus"
        },
      ],

      presentAddressDetailForm: [
        {
          label: "District",
          key: "district"
        },
        {
          label: "Sub Disctrict",
          key: "subDisctrict"
        },
        {
          label: "Province Code",
          key: "provinceCode"
        }
      ],
      officeAddressDetailForm: [
        {
          label: "District",
          key: "district"
        },
        {
          label: "Sub Disctrict",
          key: "subDisctrict"
        },
        {
          label: "Province Code",
          key: "provinceCode"
        }
      ],
      payorBenefitPersonalData: {
        idCard: "",
        fullName: "",
        provinceCode: "",
        sex: "",
        age: "",
        birthday: "",
        weight: "",
        birthWeight: "",
        height: "",
        occupationCode: "",
        clientNumber: "",
        nationality: "",
        ageInMonth: "",
        firstName: "",
        lastName: "",
        enFirstName: "",
        enLastName: "",
        enMiddleName: "",
        maritalStatus: "",
        minorMaritalStatus: "",
        healthQuestion: "",
        payorRelationship: "",
        isIDCard: "",
        mobileNumber: "",
        addressDetail: {
          buildingName: "",
          floor: "",
          no: "",
          moo: "",
          avenue: "",
          street: "",
          district: "",
          subDisctrict: "",
          provinceCode: "",
          postalCode: "",
          telephoneNumber: "",
          mobileNumber: "",
          email: "",
          fax: ""
        },
        fatca: {
          usNationalityAndBirthCountry: "",
          usNationalityAndBirthCountryDetail: "",
          usGreenCard: "",
          obligationToPayTax: "",
          residentForTaxUSCollection: "",
          pbUSNationalityAndBirthCountry: "",
          pbUSNationalityAndBirthCountryDetail: "",
          pbUSGreenCard: "",
          pbObligationToPayTax: "",
          pbResidentForTaxUSCollection: ""
        },
        // health: {
        //   alcohol: "",
        //   alcoholType: "",
        //   otherSymptoms: "",
        //   medicalHistoryIllness: "",
        //   medicalHistoryExamination: "",
        //   criticalIllnessDisease: "",
        //   rejectedDeclinedPostponed: "",
        //   sixMonthChange: "",
        //   sixMonthChangeIncreased: "",
        //   sixMonthChangeDecreased: ""
        // },
        pbHealth: {
                criticalIllnessDisease: "",
                visionDisorderFemale:"",
                symptomFemaleList:"",
                medicalHistory: "",
                medicalHistoryExamination: "",
                rejectedDeclinedPostponed: "",
                alcohol: "",
                alcoholQuit: "",
                alcoholDateQuit: "",
                alcoholType: "",
                alcoholQuantity:"",
                alcoholFrequency:"",
                sixMonthChange: "",
                sixMonthChangeIncreased: "",
                sixMonthChangeKgIncreased: "",
                sixMonthChangeDecreased: "",
                sixMonthChangeKgDecreased: "",
            },
        // health: {
        //         drugDealing: "",
        //         drugIntake: "",
        //         drugProblem: "",
        //         smoking: "",
        //         smokingQuit: "",
        //         insuredIllness: "",
        //         otherSymptoms: "",
        //         criticalIllnessDisease: "",
        //         visionDisorderFemale:"",
        //         symptomFemaleList:"",
        //         medicalHistoryIllness: "",
        //         medicalHistoryExamination: "",
        //         rejectedDeclinedPostponed: "",
        //         alcohol: "",
        //         alcoholQuit: "",
        //         alcoholDateQuit: "",
        //         alcoholType: "",
        //         alcoholQuantity:"",
        //         alcoholFrequency:"",
        //         sixMonthChange: "",
        //         sixMonthChangeIncreased: "",
        //         sixMonthChangeKgIncreased: "",
        //         sixMonthChangeDecreased: "",
        //         sixMonthChangeKgDecreased: "",
        //     },
        presentAddressDetail: {
          buildingName: "", 
          floor: "",
          no: "",
          moo: "",
          avenue: "",
          street: "",
          district: "",
          subDisctrict: "",
          province: "",
          postalCode: "",
          telephoneNumber: "",
          mobileNumber: "",
          email: "",
          fax: "",
          provinceCode: ""
        },
        officeAddressDetail: {
          buildingName: "",
          floor: "",
          no: "",
          moo: "",
          avenue: "",
          street: "",
          district: "",
          subDisctrict: "",
          province: "",
          postalCode: "",
          telephoneNumber: "",
          mobileNumber: "",
          email: "",
          fax: "",
          provinceCode: ""
        }
      },
      pbHealthForm: [
        {
          label: "Critical Illness Disease",
          key: "criticalIllnessDisease"
        },
        {
          label: "Vision Disorder Female",
          key: "visionDisorderFemale"
        },
        {
          label: "Symptom Female List",
          key: "symptomFemaleList"
        },
        {
          label: "Medical History",
          key: "medicalHistory"
        },
        {
          label: "medical History Examination",
          key: "medicalHistoryExamination"
        },
        {
          label: "Rejected Declined Postponed",
          key: "rejectedDeclinedPostponed"
        },
        {
          label: "Alcohol",
          key: "alcohol",
        },
        {
          label: "Alcohol Quit",
          key: "alcoholQuit",
        },
        {
          label:"Alcohol Date Quit",
          key: "alcoholDateQuit"
        },
        {
          label:"Alcohol Type",
          key: "alcoholType"
        },
        {
          label:"Alcohol Quantity",
          key: "alcoholQuantity"
        },
        {
          label:"Alcohol Frequency",
          key: "alcoholFrequency"
        },
        {
          label: "Six Month Change",
          key: "sixMonthChange"
        },
        {
          label: "Six Month Change Increased",
          key: "sixMonthChangeIncreased"
        },
        {
          label: "Six Month Change Kg Increased",
          key: "sixMonthChangeKgIncreased"
        },
        {
          label: "Six Month Change Decreased",
          key: "sixMonthChangeDecreased"
        },
        {
          label: "Six Month Change Kg Decreased",
          key: "sixMonthChangeKgDecreased"
        },
        
      ],
      addressDetail: [
        {
          label: "Building Name",
          key: "buildingName"
        },
        {
          label: "Floor",
          key: "floor"
        },
        {
          label: "No",
          key: "no"
        },
        {
          label: "Moo",
          key: "moo"
        },
        {
          label: "Avenue",
          key: "avenue"
        },
        {
          label: "Street",
          key: "street"
        },
        {
          label: "District",
          key: "district"
        },
        {
          label: "Sub Disctrict",
          key: "subDisctrict"
        },
        {
          label: "Province",
          key: "province"
        },
        {
          label: "Postal Code",
          key: "postalCode"
        },
        {
          label: "Telephone Number",
          key: "telephoneNumber"
        },
        {
          label: "MobileNumber",
          key: "mobileNumber"
        },
        {
          label: "Email",
          key: "email"
        },
        {
          label: "Fax",
          key: "fax"
        }
      ],
      fatcaForm: [
        {
          key: "usNationalityAndBirthCountry",
          label: "US Nationality And BirthCountry"
        },
        {
          key: "usNationalityAndBirthCountryDetail",
          label: "US Nationality And BirthCountry Detail"
        },
        {
          key: "usGreenCard",
          label: "US Green Card"
        },
        {
          key: "obligationToPayTax",
          label: "Obligation To Pay Tax"
        },
        {
          key: "residentForTaxUSCollection",
          label: "Resident For Tax US Collection"
        },
        {
          key: "pbUSNationalityAndBirthCountry",
          label: "PB US Nationality And BirthCountry"
        },
        {
          key: "pbUSNationalityAndBirthCountryDetail",
          label: "PB US Nationality And BirthCountry Detail"
        },
        {
          key: "pbUSGreenCard",
          label: "PB US Green Card"
        },
        {
          key: "pbObligationToPayTax",
          label: "PB Obligation To Pay Tax"
        },

        {
          key: "pbResidentForTaxUSCollection",
          label: "PB Resident For Tax US Collection"
        }
      ]
    };
  },
  methods: {
    onChange() {
      this.$store.dispatch("setPBPersonalData", this.payorBenefitPersonalData);
    }
  }
};
</script>

<style>
</style>