<template>
    <el-select @change="getSelect" v-if="getListDate.length !=0" v-model="selectCase" placeholder="Select">
    <el-option
      v-for="(item,index) in getListDate"
      :key="index"
      :label="item.caseName"
      :value="item.dataTest">
    </el-option>
  </el-select>
</template>

<script>
export default {
name:'card-list-case',
data() {
    return {
        selectCase:""
    }
},
methods:{
    getSelect(data){ 
    this.$store.dispatch("setSelectCase",data)
    }
},
computed:{
    getListDate(){
        return this.$store.state.jsonDataTest
    }
}
}
</script>

 <style lang="scss">

</style>