<template>
  <el-col>
    <FromBody :useFormList="['appNo','agentCode']"></FromBody>
    <FormPersonalData
      :setFatcaForm="['agentCode']"
      :setPersonalDetailForm="['idCard','age','sex','height','weight','minorMaritalStatus',
      'maritalStatus','occupationCode','mobileNumber','healthQuestion','additionalInformation','nationality','birthday']"
      :setAddressDetailForm="['district','subDisctrict','provinceCode','moo','houseNumber']"
      :setPresentAddressDetailForm="['district','subDisctrict','provinceCode','moo','houseNumber']"
      :setOfficeAddressDetailForm="['district','subDisctrict','provinceCode','moo','houseNumber']"
      :setHealth="['alcohol','alcoholQuit','alcoholDateQuit','alcoholType','alcoholQuantity','alcoholFrequency','sixMonthChange','sixMonthChangeIncreased','sixMonthChangeKgIncreased','sixMonthChangeDecreased','sixMonthChangeKgDecreased','drugProblem','drugType',
      'smokePerDay','smokePeriod','smoking','smokingQuit','smokingDateQuit','spouseHIV','spouseHepatitis']"
    ></FormPersonalData>
    <FormPBPersonalData :setPersonalDetailForm="['idCard']"></FormPBPersonalData>
    <FormBasicInsureDetail :useFormList="['planCode','insuredAmount']"></FormBasicInsureDetail>
    <FormRiderInsureDetails :useFormList="['planCode','insuredAmount']"></FormRiderInsureDetails>
    <FormCriticalIllnessDeseaseDetails
      :useFormList="['diseaseName','treatmentAndCurrentSymtoms','hospitalName']"
    ></FormCriticalIllnessDeseaseDetails>
    <FormMedicalHistoryExaminationDetails
      :useFormList="['examinationName','examinationDate','physicianOpinion','symptomName','treatmentDate','medicalHistoryName','hospitalName','result','doctorName']"
    ></FormMedicalHistoryExaminationDetails>
    <FormMedicalHistoryIllnessSymptomDetails
      :useFormList="['examinationName','examinationDate','physicianOpinion','symptomName','treatmentDate','medicalHistoryName','hospitalName','result','doctorName']"
    ></FormMedicalHistoryIllnessSymptomDetails>
  </el-col>
</template>

<script>
import FromBody from "../../components/FormReqBody/FormReqBody";
import FormPBPersonalData from "../../components/FormPBPersonalData/FormPBPersonalData";
import FormPersonalData from "../../components/FormPersonalData/FormPersonalData";
import FormBasicInsureDetail from "../../components/FormBasicInsureDetail/FormBasicInsureDetail";
import FormRiderInsureDetails from "../../components/FormRiderInsureDetails/FormRiderInsureDetails";
import FormCriticalIllnessDeseaseDetails from "../../components/FormHealthRule11/FormCriticalIllnessDeseaseDetails";
import FormMedicalHistoryExaminationDetails from "../../components/FormHealthRule11/FormMedicalHistoryExaminationDetails";
import FormMedicalHistoryIllnessSymptomDetails from "../../components/FormHealthRule11/FormMedicalHistoryIllnessSymptomDetails";

export default {
  name: "rule-11",
  components: {
    FromBody,
    FormPBPersonalData,
    FormPersonalData,
    FormBasicInsureDetail,
    FormRiderInsureDetails,
    FormCriticalIllnessDeseaseDetails,
    FormMedicalHistoryExaminationDetails,
    FormMedicalHistoryIllnessSymptomDetails,
  },
};
</script>

<style>
</style>