<template>
  <fulfilling-bouncing-circle-spinner
  :animation-duration="2500"
  :size="100"
  :color="'#ff1d5e'"
/>
</template>

<script>
  import {FulfillingBouncingCircleSpinner} from 'epic-spinners'

export default {
name:'Loading',
components:{
FulfillingBouncingCircleSpinner
}
}
</script>

<style>

</style>