<template>
  <el-row :gutter="10">
    <el-col :sm="4">
      <span>Request Body :</span>
    </el-col>
    <el-col :sm="20">
      <el-form justify="space-between" :model="bodyRes" class="demo-form-inline">
        <el-col v-for="(item, index) in getForm" :key="index" :span="6">
          <el-form-item :label="`${item.label} :`" v-if="item.type ==='input' ">
                   <p style=" font-size: 10px;color:red">{{item.labelred}}</p>
            <el-input v-model="$store.state.requestBody[item.key]" @input="onChange" placeholder></el-input>
          </el-form-item>
          <el-form-item :label="`${item.label} :`" v-if="item.type === 'select1'">
            <el-select placeholder="Group Channel" v-model="$store.state.requestBody[item.key]">
              <el-option
                v-for="item in optionsappNo"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>

          <el-form-item :label="`${item.label} :`" v-if="item.type === 'select2'">
            <el-select placeholder="Filter Percent" v-model="$store.state.requestBody[item.key]">
              <el-option
                v-for="item in optionsfilterPercent"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-form>
    </el-col>
  </el-row>
</template>

<script>
import { filter, findIndex, get } from "lodash";

export default {
  data() {
    return {
      bodyRes: {
        appNumber: get(this.$store.state.selectCase.requestBody, "appNumber"),
        agentCode: get(this.$store.state.selectCase.requestBody, "agentCode"),
        requestDate: get(
          this.$store.state.selectCase.requestBody,
          "requestDate"
        ),
        appType: get(this.$store.state.selectCase.requestBody, "appType"),
        appNo: get(this.$store.state.selectCase.requestBody, "appNo"),
        appForm: get(this.$store.state.selectCase.requestBody, "appForm"),
        filterPercent: get(
          this.$store.state.selectCase.requestBody,
          "filterPercent"
        )
      },
      optionsappNo: [
        {
          value: "202051406",
          label: "RT"
        },
        {
          value: "20205247",
          label: "CB"
        },
        {
          value: "20405012",
          label: "MR"
        }
      ],
      optionsfilterPercent: [
        {
          value: "90",
          label: "90%"
        },
        {
          value: "80",
          label: "80%"
        }
      ],
      formArr: [
        {
          key: "appNumber",
          label: "App Number",
          type: "input"
        },
        {
          key: "appNo",
          label: "Group Channel",
          type: "select1"
        },
        {
          key: "agentCode",
          label: "Agent Code",
          type: "input"
        },
        {
          key: "requestDate",
          label: "Request Date",
          type: "input"
        },
        {
          key: "appType",
          label: "App Type",
          type: "input"
        },
        {
          key: "appForm",
          label: "App Form",
          labelred:"*ระบุเฉพาะตัวเลขไม่ต้องมี-",
          type: "input"
        },
        {
          key: "filterPercent",
          label: "Filter Percent",
          type: "select2"
        },
         {
          key: "clientRegionAddress",
          label: "client Region Address",
          type: "input"
        },
         {
          key: "clientHouseRegistration",
          label: "Client House Registration",
          type: "input"
        },
         {
          key: "clientAllAddress",
          label: "Client All Address",
          type: "input"
        }

    
      ]
    };
  },
  methods: {
    onChange() {
      this.$store.dispatch("setRequestBody", this.bodyRes);
    }
  },
  computed: {
    getForm() {
      return filter(this.formArr, data => {
        return (
          findIndex(this.useFormList, arr => {
            return arr == data.key;
          }) >= 0
        );
      });
    }
  },
  props: {
    useFormList: {
      type: Array,
      default: () => []
    }
  }
};
</script>

<style>
</style>