<template>
  <el-col class="container anim-opaci" justify="text-center" :sm="4" :gutter="20">
    <el-row class="el-card__body text-center ruleHeader">
      <span style="color:#fff;">Rules</span>
    </el-row>
    <el-scrollbar style="height:50%; width:100%">
      <el-row :gutter="12" v-for="(role, index) in getRole" :key="index" :style="{marginTop:'3px'}">
        <div>
          <el-button
            @click="addTestCase(role.title)"
            style="width:100%;"
            type="info"
            plain
          >{{role.title}}</el-button>
        </div>
      </el-row>
    </el-scrollbar>
  </el-col>
</template>

<script>
import Api from "../../service/CallHttp";
import { get, filter } from "lodash";
export default {
  name: "create-test",
  created() {
    this.getAllChannel();
    this.setRole();
  },
  data() {
    return {
      nameCase: "",
      selectChanal: "",
      testBy: "1",
      optionList: [],
      roles: [
        { check: false, title: "role 1" },
        { check: false, title: "role 2" },
        { check: false, title: "role 1" },
        { check: false, title: "role 2" },
        { check: false, title: "role 1" },
        { check: false, title: "role 2" }
      ]
    };
  },
  computed: {
    getTestCase() {
      return this.$store.state.testCase;
    },
    checkTestBy() {
      this.setRole(this.testBy === "1");
      return this.testBy === "1";
    },
    getRole() {
      console.log(this.$store.state.roles);
      return this.$store.state.roles;
    }
  },
  methods: {
    async onSelect(data) {
      let res = await (await Api()).getMappRuleChannel(data);
      let listRule = get(
        get(get(res, "data"), "ruleChannelMappingList")[0],
        "listRule"
      );
      if (listRule) {
        let mapping = filter(listRule, { isActive: "Y" }).map(data => {
          return { title: data.ruleCode, check: true };
        });
        this.$store.dispatch("setRole", mapping);
      }
    },
    onSubmit() {
      console.log("submit!");
    },
    addTestCase(rule) {
      this.$store.dispatch("setTestCase", rule);
    },

    async getAllChannel() {
      let res = await (await Api()).getAllChannel();
      let data = get(res, "data");
      if (data) {
        this.optionList = data;
      }
    },
    async setRole(testBy) {
      this.selectChanal = "";
      const api = await await Api();
      if (testBy) {
        this.$store.dispatch("setRole", []);
      } else {
        let res = await api.getAllRole();
        let data = get(res, "data");
        if (data) {
          let maping = data.map(data => {
            return { title: data.ruleCode, check: false };
          });
          console.log(">>>>>>>>>", maping);
          this.$store.dispatch("setRole", maping);
        }
      }
    }
  }
};
</script>

<style scoped>
.container {
  background-color: #eaeaea;
}

.select-rules {
  background-color: rgb(248, 145, 200);
  color: aliceblue;
}
.ruleHeader {
  background-color: #368cbf;
}
.card-rule {
  border: 5px solid red;
}

</style>