<template>
  <test-screen></test-screen>
</template>

<script>
import TestScreen from "./screens/TestScreen/TestScreen";

export default {
  name: "app",
  components: {
    TestScreen
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
body {
  background-color: #33363b !important;
}
div.el-card {
  background-color: #eaeaea;
}
.icon-add {
  color: #368cbf;
}
.icon-add:hover {
  font-size: 20px;
  transition: 0.1s;
  color: #589cc4;
}
.el-form-item {
  margin-bottom:1px !important;
}
.el-form-item label{
  margin-bottom:-0.5rem;
}
</style>
