.is-hover-shadow .el-card__body:hover{
    color: rgb(240, 2, 127);
    cursor: pointer;
}
.anim-opaci{
    animation-name: opacityAmination;
    animation-duration: 0.5s;
}
@keyframes opacityAmination {
    from {opacity: 0;}
    to {background-color: 1;}
  }