<template>
  <el-col>
    <FromBody :useFormList="['agentCode']"></FromBody>

    <FormBasicInsureDetailRule04 :useFormList="['planCode','insuredAmount','premiumPayment']"></FormBasicInsureDetailRule04>
    <FormRiderInsureDetails :useFormList="['planCode','insuredAmount','premiumPayment']"></FormRiderInsureDetails>
  </el-col>
</template>

<script>
import FormBasicInsureDetailRule04 from "../../components/FormBasicInsureDetailRule04/FormBasicInsureDetailRule04";
import FormRiderInsureDetails from "../../components/FormRiderInsureDetails/FormRiderInsureDetails";
import FromBody from "../../components/FormReqBody/FormReqBody";

export default {
  name: "rule-04",
  components: {
    FormBasicInsureDetailRule04,
    FormRiderInsureDetails,
    FromBody
  }
};
</script>

<style>
</style>