<template>
  <el-col>
    <FromBody :useFormList="['agentCode']"></FromBody>

    <FormPersonalDataRule06
      :setFatcaForm="['postalCode']"
      :setPersonalDetailForm="['idCard','age','sex']"
      :setAddressDetailForm="['provinceCode']"
    ></FormPersonalDataRule06>
    <FormBasicInsureDetail :useFormList="['planCode','insuredAmount','premium']"></FormBasicInsureDetail>
    <FormRiderInsureDetails :useFormList="['planCode','insuredAmount','premium']"></FormRiderInsureDetails>
  </el-col>
</template>

<script>
import FormPersonalDataRule06 from "../../components/FormPersonalDataRule06/FormPersonalDataRule06";
import FormBasicInsureDetail from "../../components/FormBasicInsureDetail/FormBasicInsureDetail";
import FormRiderInsureDetails from "../../components/FormRiderInsureDetails/FormRiderInsureDetails";
import FromBody from "../../components/FormReqBody/FormReqBody";

export default {
  name: "rule-06",
  components: {
    FormPersonalDataRule06,
    FormBasicInsureDetail,
    FormRiderInsureDetails,
    FromBody
  }
};
</script>

<style>
</style>