<template>
  <el-col>
    <FromBody :useFormList="['agentCode']"></FromBody>
    <FormPersonalData :setPersonalDetailForm="['idCard']"></FormPersonalData>
    <FormBasicInsureDetailRule04
      :useFormList="['planCode', 'insuredAmount']"
    ></FormBasicInsureDetailRule04>
    <FormRiderInsureDetails
      :useFormList="['planCode', 'insuredAmount']"
    ></FormRiderInsureDetails>
  </el-col>
</template>

<script>
import FormBasicInsureDetailRule04 from "../../components/FormBasicInsureDetailRule04/FormBasicInsureDetailRule04";
import FormPersonalData from "../../components/FormPersonalData/FormPersonalData";
import FormRiderInsureDetails from "../../components/FormRiderInsureDetails/FormRiderInsureDetails";
import FromBody from "../../components/FormReqBody/FormReqBody";

export default {
  name: "rule-15",
  components: {
    FormBasicInsureDetailRule04,
    FormPersonalData,
    FormRiderInsureDetails,
    FromBody,
  },
};
</script>

<style>
</style>