<template>
  <el-col>
    <FromBody :useFormList="['appForm']"></FromBody>
    <FormPersonalData
      :setFatcaForm="['postalCode']"
      :setPersonalDetailForm="['idCard']"
    ></FormPersonalData>
    <FormBasicInsureDetail :useFormList="['planCode']"></FormBasicInsureDetail>
    <FormRiderInsureDetails :useFormList="['planCode']"></FormRiderInsureDetails>
  </el-col>
</template>

<script>
import FromBody from "../../components/FormReqBody/FormReqBody";
import FormBasicInsureDetail from "../../components/FormBasicInsureDetail/FormBasicInsureDetail";
import FormPersonalData from "../../components/FormPersonalData/FormPersonalData";
import FormRiderInsureDetails from "../../components/FormRiderInsureDetails/FormRiderInsureDetails"

export default {
  name: "rule-07",
  components: {
    FromBody,
    FormPersonalData,
    FormBasicInsureDetail,
    FormRiderInsureDetails
  }
};
</script>

<style>
</style>