<template>
  <el-col :sm="20">
    <!-- {{checkRiderInsureDetails}} -->
    <el-row>
      <el-col style="margin-left: 17px" :sm="22">
        <el-row :sm="20">
          <!-- <Header></Header> -->
          <el-row
            v-if="
              checkRule20 ||
              checkRule21 ||
              checkRule07 ||
              checkRule16 ||
              checkRule17 ||
              checkRule03 ||
              checkRule04 ||
              checkRule05 ||
              checkRule06 ||
              checkRule12 ||
              checkRule13 ||
              checkRule14 ||
              checkRule15 ||
              checkRule11
            "
            :gutter="10"
          >
            <el-card class="anim-opaci">
              <div slot="header" class="clearfix text-center headText">
                <span>{{ getHeader }}</span>
                <!-- <div class="conatainer-card-list">
                  <span>Test Case :</span>

                  <el-col :sm="4">
                    <card-list-case></card-list-case>
                  </el-col>
                </div>-->
              </div>

              <el-row class="anim-opaci">
                <rule-03 v-if="checkRule03"></rule-03>
                <rule-17 v-if="checkRule17"></rule-17>
                <rule-16 v-if="checkRule16"></rule-16>
                <rule-04 v-if="checkRule04"></rule-04>
                <rule-05 v-if="checkRule05"></rule-05>
                <rule-06 v-if="checkRule06"></rule-06>
                <rule-07 v-if="checkRule07"></rule-07>
                <rule-11 v-if="checkRule11"></rule-11>
                <rule-12 v-if="checkRule12"></rule-12>
                <rule-13 v-if="checkRule13"></rule-13>
                <rule-14 v-if="checkRule14"></rule-14>
                <rule-15 v-if="checkRule15"></rule-15>
                <rule-20 v-if="checkRule20"></rule-20>
                <rule-21 v-if="checkRule21"></rule-21>
              </el-row>
            </el-card>
          </el-row>
        </el-row>
      </el-col>
    </el-row>
    <el-row>
      <div
        style="
          margin-top: 1%;
          margin-bottom: 1%;
          display: flex;
          justify-content: center;
        "
      >
        <!-- <el-button type="info" v-on:click="onText" icon="el-icon-s-tools">TEST</el-button> -->
        <div class="btn-test-container" v-on:click="onText">
          <i
            style="color: #ed3535; cursor: pointer"
            class="el-icon-s-tools btn-icon"
          ></i>
          <span style="color: #ed3535">EXCUTE</span>
        </div>
      </div>
    </el-row>
    <el-row class="anim-opaci">
      <el-col :sm="22" style="margin-left: 17px">
        <el-card v-if="dataRes">
          <div slot="header" class="clearfix">
            <div class="row">
              <div class="col-2">
                <span>Output</span>
              </div>
              <div class="col-2">
                <p>Status : {{ dataRes.responseHeader.status }}</p>
              </div>
              <div class="col-4">
                <p>
                  TransactionId : {{ dataRes.responseHeader.transactionId }}
                </p>
              </div>
            </div>
          </div>
          <el-col>
            <el-row style="width: 100%">
              <el-card shadow="never" style="background-color: #fff">
                <div slot="header" class="clearfix">
                  <span>Header</span>
                </div>

                <!-- ========================================================== -->
                <!-- <el-row :span="24">
                  <el-col :span="6">
                    <p>TransactionId</p>
                  </el-col>
                  <el-col :span="18">
                    <p>{{dataRes.responseHeader.transactionId}}</p>
                  </el-col>
                </el-row>
                <el-row :span="24">
                  <el-col :span="6">
                    <p>Status</p>
                  </el-col>
                  <el-col :span="18">
                    <p>{{dataRes.responseHeader.status}}</p>
                  </el-col>
                </el-row>
                <el-row :span="24">
                  <el-col :span="6">
                    <p>Timestamp</p>
                  </el-col>
                  <el-col :span="18">
                    <p>{{dataRes.responseHeader.timestamp}}</p>
                  </el-col>
                </el-row>-->
                <!-- <el-row :span="24">
                  <el-col :span="6">
                    <p>Time Usage</p>
                  </el-col>
                  <el-col :span="18">
                    <p>{{dataRes.responseHeader.timeUsage}}</p>
                  </el-col>
                </el-row>-->
                <!-- ========================================================= -->

                <el-row :span="24">
                  <el-col :span="6">
                    <!-- <p>Error Message</p> -->
                  </el-col>
                  <el-col :span="18">
                    <p style="white-space: pre">
                      {{ formatJson(dataRes.responseHeader.errorMessage) }}
                    </p>
                  </el-col>
                </el-row>
              </el-card>
            </el-row>
            <el-col
              v-if="checkMassage"
              style="margin-top: 1%; padding-bottom: 2%"
            >
              <el-card shadow="never" style="background-color: #fff">
                <div slot="header" class="clearfix">
                  <span>Messge List</span>
                </div>
                <el-row
                  style="margin-top: 1%; width: 100%"
                  v-for="(item, index) in dataRes.responseBody.messageList"
                  :key="index"
                >
                  <el-card shadow="never" style="background-color: #fff">
                    <el-row :span="24">
                      <el-col :span="6">
                        <p>Code</p>
                      </el-col>
                      <el-col :span="18">
                        <p>{{ item.code }}</p>
                      </el-col>
                    </el-row>
                    <el-row :span="24">
                      <el-col :span="6">
                        <p>messageTH</p>
                      </el-col>
                      <el-col :span="18">
                        <p>{{ item.messageTH }}</p>
                      </el-col>
                    </el-row>
                    <el-row :span="24">
                      <el-col :span="6">
                        <p>messageEN</p>
                      </el-col>
                      <el-col :span="18">
                        <p>{{ item.messageEN }}</p>
                      </el-col>
                    </el-row>

                    <el-col :span="18">
                      <p style="white-space: pre">
                        {{ formatJson(dataRes.responseBody.errorMessage) }}
                      </p>
                    </el-col>
                  </el-card>
                </el-row>
              </el-card>

              <el-card
                shadow="never"
                style="background-color: #fff; margin-top: 1%"
              >
                <div slot="header" class="clearfix">
                  <span>Document List</span>
                </div>
                <el-row
                  style="margin-top: 1%; width: 100%"
                  v-for="(item, index) in dataRes.responseBody.documentList"
                  :key="index"
                >
                  <el-card shadow="never" style="background-color: #fff">
                    <el-row :span="24">
                      <el-col :span="6">
                        <p>Code</p>
                      </el-col>
                      <el-col :span="18">
                        <p>{{ item.code }}</p>
                      </el-col>
                    </el-row>
                    <el-row :span="24">
                      <el-col :span="6">
                        <p>Desc EN</p>
                      </el-col>
                      <el-col :span="18">
                        <p>{{ item.descEN }}</p>
                      </el-col>
                    </el-row>
                    <el-row :span="24">
                      <el-col :span="6">
                        <p>Desc EN</p>
                      </el-col>
                      <el-col :span="18">
                        <p>{{ item.descTH }}</p>
                      </el-col>
                    </el-row>
                    <el-row :span="24">
                      <el-col :span="6">
                        <p>Type</p>
                      </el-col>
                      <el-col :span="18">
                        <p>{{ item.type }}</p>
                      </el-col>
                    </el-row>
                  </el-card>
                </el-row>
              </el-card>
            </el-col>
          </el-col>
        </el-card>
      </el-col>
    </el-row>
  </el-col>
</template>
<script>
import Rule03 from "../../screens/Rule03/Rule03";
import Rule17 from "../../screens/Rule17/Rule17";
import Rule16 from "./../../screens/Rule16/Rule16";
import Rule04 from "../../screens/Rule04/Rule04";
import Rule05 from "../../screens/Rule05/Rule05";
import Rule06 from "../../screens/Rule06/Rule06";
import Rule07 from "../../screens/Rule07/Rule07";
import Rule12 from "../../screens/Rule12/Rule12";
import Rule13 from "../../screens/Rule13/Rule13";
import Rule14 from "../../screens/Rule14/Rule14";
import Rule15 from "../../screens/Rule15/Rule15";
import Rule11 from "../../screens/Rule11/Rule11";
import Rule20 from "../../screens/Rule20/Rule20";
import Rule21 from "../../screens/Rule21/Rule21";

// import CardListCase from "../CardListCase/CardListCase";
import { get } from "lodash";
import Api from "../../service/CallHttp";
// import Rule15 from '../../screens/Rule15/Rule15.vue';
// import Header from "../Header/Header";
export default {
  name: "test",
  components: {
    Rule03,
    Rule17,
    // Header,
    Rule04,
    Rule05,
    Rule06,
    Rule07,
    Rule12,
    Rule13,
    Rule14,
    Rule15,
    Rule16,
    Rule11,
    Rule20,
    Rule21,

    // CardListCase
  },
  data() {
    return {
      formInline: {
        user: "",
        region: "",
      },
      dataRes: null,
    };
  },
  methods: {
    claer(data) {
      this.dataRes = data;
    },
    formatJson(text) {
      if (!text) {
        return "";
      }
      console.log(text);

      return JSON.stringify(text, null, 4);
    },
    async onText() {
      let {
        requestHeader,
        requestBody,
        basicInsureDetail,
        beneficiaryDetails,
        payorBenefitPersonalData,
        personalData,
        riderInsureDetails,
        criticalIllnessDetailList,
        medicalHistoryExaminationDetailList,
      } = this.$store.state;
      this.$store.dispatch("setTimeTest", new Date().getTime());
      console.log(this.$store.state.beneficiaryDetails);
      let res = await (await Api()).submitTest({
        requestHeader,
        requestBody: {
          ...requestBody,
          basicInsureDetail,
          beneficiaryDetails,
          payorBenefitPersonalData,
          personalData,
          riderInsureDetails,
          criticalIllnessDetailList,
          medicalHistoryExaminationDetailList,
        },
      });
      this.dataRes = res;
      console.log(res);
    },
  },
  created() {
    console.log("%c TEST Screen", "color:salmon");
    console.log(this.$store.state.roles);
  },
  computed: {
    getTimeTest() {
      return this.$store.state.timeTest;
    },
    getHeader() {
      let data = null;

      this.claer(data);
      return this.$store.state.titleHeader;
    },
    checkMassage() {
      return get(this.dataRes.responseBody, "messageList");
    },
    checkPBPersonal() {
      // let rule = this.$store.state.testCase;
      return false;
    },

    checkRule16() {
      let rule = this.$store.state.testCase;
      return rule == "RULE_16";
    },
    checkRule17() {
      let rule = this.$store.state.testCase;
      return rule == "RULE_17";
    },
    checkRule03() {
      let rule = this.$store.state.testCase;
      return rule == "RULE_03";
    },
    checkRule04() {
      let rule = this.$store.state.testCase;
      return rule == "RULE_04";
    },
    checkRule05() {
      let rule = this.$store.state.testCase;
      return rule == "RULE_05";
    },
    checkRule06() {
      let rule = this.$store.state.testCase;
      return rule == "RULE_06";
    },
    checkRule07() {
      let rule = this.$store.state.testCase;
      return rule == "RULE_07";
    },
    checkRule12() {
      let rule = this.$store.state.testCase;
      return rule == "RULE_12";
    },
    checkRule13() {
      let rule = this.$store.state.testCase;
      return rule == "RULE_13";
    },
    checkRule11() {
      let rule = this.$store.state.testCase;
      return rule == "RULE_11";
    },
    checkRule14() {
      let rule = this.$store.state.testCase;
      return rule == "RULE_14";
    },
    checkRule15() {
      let rule = this.$store.state.testCase;
      return rule == "RULE_15";
    },
    checkRule20() {
      let rule = this.$store.state.testCase;
      return rule == "RULE_20";
    },
    checkRule21() {
      let rule = this.$store.state.testCase;
      return rule == "RULE_21";
    },
  },
};
</script>

<style scope>
.container {
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 0.5%;
}
.striped-border {
  border: 1px solid lightgray;
  width: 100%;
}
p {
  text-align: justify;
}
span {
  font-weight: bold;
}
.headText {
  font-size: 20px;
}
.header-change {
  opacity: 0.2;
  transition: 0.5s;
}
.btn-test-container {
  background: #999b9e;
  border-color: #999b9e;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  width: 90px;
  padding: 0.4%;
  align-items: center;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}
.conatainer-card-list {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  display: flex;
}
.btn-test-container:hover,
.btn-test-container:focus {
  background: #a6a9ad;
  border-color: #a6a9ad;
}
.btn-test-container:hover .btn-icon {
  animation: moveicon 2s alternate;
}

@keyframes moveicon {
  100% {
    transform: rotate(360deg);
  }
}
</style>