<template>
  <el-card>
    <el-row :gutter="10">
      <el-form justify="space-between" :model="agenData" class="demo-form-inline text-center">
        <el-col :span="6">
          <el-form-item label="Agent Code :">
            <el-input v-model="agenData.agentCode" @input="onChange" placeholder></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Agent Group :">
            <el-input v-model="agenData.agentGroup" @input="onChange" placeholder></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Agent GroupName :">
            <el-input v-model="agenData.agentGroupName" @input="onChange" placeholder></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Application Number :">
            <el-input v-model="agenData.applicationNumber" @input="onChange" placeholder></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="AgentLicence Number :">
            <el-input v-model="agenData.agentLicenceNumber" @input="onChange" placeholder></el-input>
          </el-form-item>
        </el-col>
      </el-form>
    </el-row>
  </el-card>
</template>

<script>
export default {
  name: "form-agen-data",
  data() {
    return {
      agenData: {
        agentCode: "",
        agentName: "",
        agentGroup: "",
        agentGroupName: "",
        applicationNumber: "",
        agentLicenceNumber: ""
      }
    };
  },
  methods: {
    onChange(data) {
      console.log(data);
      this.$store.dispatch("setAgenData", this.agenData);
    }
  }
};
</script>

<style>
</style>