<template>
  <el-col>
    <FromBody :useFormList="['appNo','agentCode']"></FromBody>
    <FormPersonalData
      :setPersonalDetailForm="[ 'idCard','age']"
    ></FormPersonalData>
    <FormBasicInsureDetail :useFormList="['planCode','insuredAmount']"></FormBasicInsureDetail>
    <FormRiderInsureDetails :useFormList="['planCode','insuredAmount']"></FormRiderInsureDetails>
  </el-col>
</template>

<script>
import FormPersonalData from "../../components/FormPersonalData/FormPersonalData";
import FormBasicInsureDetail from "../../components/FormBasicInsureDetail/FormBasicInsureDetail";
import FormRiderInsureDetails from "../../components/FormRiderInsureDetails/FormRiderInsureDetails";
import FromBody from "../../components/FormReqBody/FormReqBody";

export default {
  name: "rule-14",
  components: {
    FormPersonalData,
    FormBasicInsureDetail,
    FormRiderInsureDetails,
    FromBody
  }
};
</script>

<style>
</style>