<template>
  <el-row>
    <el-col :sm="24">
      <el-row justify="start">
        <span>Beneficiary Details</span>
        <i
          style="margin-left:1%;"
          v-on:click="addData"
          class="custom-icon el-icon-circle-plus-outline"
        ></i>
      </el-row>
    </el-col>
    <el-col :sm="24" style="margin-Top:1%;">
      <ts-table :dataTable="formArr" :tableColumns="getForm" :onRemove="onRemove"></ts-table>
    </el-col>
  </el-row>
</template>

<script>
import { filter, findIndex } from "lodash";
import TsTable from "../TsTable/TsTable";
export default {
  name: "form-beneficiary-detail",
  components: {
    TsTable
  },
  data() {
    return {
      formArr: [
        // {
        //   beneficiaryIdCard: "",
        //   beneficiaryFullName: "",
        //   firstName: "",
        //   lastName: "",
        //   age: "",
        //   address: "",
        //   percent: "",
        //   relation: ""
        // },
        // {
        //   beneficiaryIdCard: "",
        //   beneficiaryFullName: "",
        //   firstName: "",
        //   lastName: "",
        //   age: "",
        //   address: "",
        //   percent: "",
        //   relation: ""
        // }
      ],
      tableColumns: [
        {
          prop: "idCard",
          label: "ID Card"
          // minWidth: 180
        },
        {
          prop: "fullName",
          label: "First Name"
          // minWidth: 180
        },
        {
          prop: "firstName",
          label: "First Name"
          // minWidth: 180
        },
        {
          prop: "lastName",
          label: "Last Name"
          // minWidth: 180
        },
        {
          prop: "enFirstName",
          label: "En First Name"
          // minWidth: 180
        },
        {
          prop: "enLastName",
          label: "En Last Name"
          // minWidth: 180
        },
        {
          prop: "age",
          label: "Age"
          // minWidth: 180
        },
        {
          prop: "address",
          label: "Address"
        },

        {
          prop: "percent",
          label: "Percent"
        },
        {
          prop: "relation",
          label: "Relation"
        }
      ],
      mapping: [
        {
          key: "beneficiaryIdCard",
          label: "ID Card"
        },
        {
          key: "beneficiaryFullName",
          label: "First Name"
        },
        {
          key: "firstName",
          label: "FirstName"
        },
        {
          key: "lastName",
          label: "LastName"
        },
        {
          prop: "enFirstName",
          label: "En First Name"
          // minWidth: 180
        },
        {
          prop: "enLastName",
          label: "En Last Name"
          // minWidth: 180
        },
        {
          key: "age",
          label: "Age"
        },

        {
          key: "address",
          label: "Address"
        },

        {
          key: "percent",
          label: "Percent"
        },
        {
          key: "relation",
          label: "Relation"
        }
      ]
    };
  },
  computed: {
    getForm() {
      return filter(this.tableColumns, data => {
        return (
          findIndex(this.useFormList, arr => {
            return arr == data.prop;
          }) >= 0
        );
      });
    }
  },
  methods: {
    addData() {
      this.formArr.push({
        idCard: "",
        fullName: "",
        firstName: "",
        lastName: "",
        enFirstName: "",
        enLastName: "",
        age: "",
        address: "",
        percent: "",
        relation: ""
      });
      this.onChange();
    },
    findLabel(data) {
      return this.mapping[data].label;
    },
    onRemove(index) {
      this.formArr.splice(index, 1);
    },
    onChange() {
      this.$store.dispatch("setDeneficiaryDetails", this.formArr);
    }
  },
  props: {
    useFormList: {
      type: Array,
      default: () => []
    }
  }
};
</script>

<style scoped>
.el-button {
  color: #ffffff;
  background-color: #368cbf;
  border-color: #368cbf;
}
/* .el-button:hover, */
.el-button:focus {
  color: #ffffff;
  background-color: #589cc4;
  border-color: #589cc4;
}

.custom-icon {
  cursor: pointer;
  font-size: 2rem;
  color: #368cbf;
}
</style>