<template>
  <el-row :gutter="10">
    <el-col :sm="4">
      <span>Basic Insure Detail :</span>
    </el-col>
    <el-col :sm="20">
      <el-form justify="space-between" :model="insureDetail" class="demo-form-inline text-center">
        <el-col v-for="(item, index) in getForm" :key="index" :span="6">
          <el-form-item :label="`${item.label} :`">
            <el-input v-model="insureDetail[item.key]" @input="onChange" placeholder></el-input>
          </el-form-item>
        </el-col>
        <el-col v-if="getPlan">
          <el-form-item label="Plan Header Product Detail">
            <el-input
              v-model="insureDetail.planHeaderProductDetail.planCode"
              @input="onChange"
              placeholder
            ></el-input>
          </el-form-item>
        </el-col>
      </el-form>
    </el-col>
  </el-row>
</template>

<script>
import { filter, findIndex } from "lodash";

export default {
  name: "form-basiclnsure-detail",
  data() {
    return {
      formArr: [
        {
          label: "Plan Code",
          key: "planCode"
        },
        {
          label: "Plan Name",
          key: "planName"
        },
        {
          label: "Insured Amount",
          key: "insuredAmount"
        },
        {
          label: "Premium Amount",
          key: "premiumAmount"
        },
        {
          label: "Topup Premium Amount",
          key: "topupPremiumAmount"
        },
        {
          label: "Plan Type",
          key: "planType"
        },
        {
          label: "Premium Indicator",
          key: "premiumIndicator"
        },
        {
          label: "Premium",
          key: "premium"
        },
        {
          label: "Product Detail",
          key: "productDetail"
        },
        {
          label: "Premium Payment",
          key: "premiumPayment"
        }
      ],
      insureDetail: {
        planCode: "",
        planName: "",
        insuredAmount: "",
        premiumAmount: "",
        topupPremiumAmount: "",
        planType: "",
        premiumIndicator: "",
        productDetail: "",
        premiumPayment: "",
        planHeaderProductDetail: {
          planCode: ""
        }
      }
    };
  },
  methods: {
    onChange() {
      this.$store.dispatch("setInsureDetail", this.insureDetail);
    }
  },
  computed: {
    getForm() {
      return filter(this.formArr, data => {
        return (
          findIndex(this.useFormList, arr => {
            return arr == data.key;
          }) >= 0
        );
      });
    },
    getPlan() {
      return (
        findIndex(this.useFormList, arr => {
          return arr == "planHeaderProductDetail";
        }) >= 0
      );
    }
  },
  props: {
    useFormList: {
      type: Array,
      default: () => []
    }
  }
};
</script>

<style>
</style>