<template>
  <el-col>
    <FromBody :useFormList="['clientRegionAddress','clientHouseRegistration','clientAllAddress']"></FromBody>
    <FormPersonalData :setPersonalDetailForm="['age','nationality','enFirstName','enLastName',]"></FormPersonalData>
  </el-col>
</template>
<script>
import FormPersonalData from "../../components/FormPersonalData/FormPersonalData";
import FromBody from "../../components/FormReqBody/FormReqBody";
export default {
  name: "rule-21",

  created() {},

  components: {
    FormPersonalData,
    FromBody
  }
};
</script>

<style>
</style>