<template>
  <el-row>
    <el-col :sm="24">
      <el-row justify="start">
        <span>Rider Insure Detail</span>
        <i
          style="margin-left:1%;"
          v-on:click="addData"
          class="custom-icon el-icon-circle-plus-outline"
        ></i>
      </el-row>
    </el-col>
    <el-col :sm="24" style="margin-Top:1%;">
      <ts-table
        :dataTable="$store.state.riderInsureDetails"
        :tableColumns="getForm"
        :onRemove="onRemove"
      ></ts-table>
    </el-col>
  </el-row>
</template>

<script>
import { filter, findIndex } from "lodash";
import TsTable from "../TsTable/TsTable";

export default {
  name: "form-riderinsure-details",
  components: {
    TsTable
  },
  computed: {
    getForm() {
      return filter(this.mapping, data => {
        return (
          findIndex(this.useFormList, arr => {
            return arr == data.prop;
          }) >= 0
        );
      });
    }
  },
  data() {
    return {
      formArr: [
        // {
        //   planCode: "",
        //   planName: "",
        //   insuredAmount: "",
        //   premiumAmount: "",
        //   topupPremiumAmount: "",
        //   planType: "",
        //   premiumIndicator: ""
        // }
      ],
      mapping: [
        {
          prop: "planCode",
          label: "Plan Code"
        },
        {
          prop: "planName",
          label: "Plan Name"
        },
        {
          prop: "insuredAmount",
          label: "Insured Amount"
        },
        {
          prop: "premium",
          label: "Premium"
        },
        {
          prop: "premiumAmount",
          label: "Premium Amount",
          rules: [
            {
              required: true,
              message: "Please input number address",
              trigger: "blur"
            },
            {
              type: "number",
              message: "Please input correct number address",
              trigger: ["blur", "change"]
            }
          ]
        },
        {
          prop: "topupPremiumAmount",
          label: "TopupPremium Amount"
        },

        {
          prop: "planType",
          label: "Plan Type"
        },

        {
          prop: "premiumIndicator",
          label: "Premium Indicator"
        },
        {
          prop: "premiumPayment",
          label: "Premium Payment",
          type: "select",
          placeholder: "Premium Payment",
          options: [
            {
              value: "1",
              label: "รายเดือน"
            },
            {
              value: "3",
              label: "ราย 3 เดือน"
            },
            {
              value: "6",
              label: "ราย 6 เดือน"
            },
            {
              value: "Y",
              label: "รายปี"
            },
            {
              value: "S",
              label: "ครั้งเดียว"
            }
          ]
        }
      ]
    };
  },
  methods: {
    addData() {
      this.formArr.push({
        planCode: "",
        planName: "",
        insuredAmount: "",
        premium:"",
        premiumAmount: "",
        topupPremiumAmount: "",
        planType: "",
        premiumIndicator: "",
        premiumPayment: ""
      });
      this.onChange();
    },
    findLabel(data) {
      return this.mapping[data].label;
    },
    onRemove(index) {
      this.formArr.splice(index, 1);
    },
    onChange() {
      this.$store.dispatch("setRiderInsureDetails", this.formArr);
    }
  },
  props: {
    useFormList: {
      type: Array,
      default: () => []
    }
  }
};
</script>

<style scoped>
.el-button {
  color: #ffffff;
  background-color: #368cbf;
  border-color: #368cbf;
}
.el-button:hover,
.el-button:focus {
  color: #ffffff;
  background-color: #589cc4;
  border-color: #589cc4;
}
.custom-icon {
  cursor: pointer;
  font-size: 2rem;
  color: #368cbf;
}
</style>