<template>
  <el-card>
    <div slot="header" class="clearfix">
      <span>{{getHeader}}</span>
    </div>
    <el-row :gutter="10" :span="24">
      
      <el-col
        v-for="(item, index) in formArr"
        :key="index"
        :span="24/formArr.length"
      >{{`${item.label} : ${getStore[item.key]}`}}</el-col>
    </el-row>
  </el-card>
</template>

<script>
export default {
  name: "header",
  data() {
    return {
      formArr: [
        {
          label: "Transaction ID",
          key: "transactionId"
        },
        {
          label: "Registered System",
          key: "registeredSystem"
        },
        {
          label: "Section",
          key: "section"
        }
      ],
      requestHeader: {
        transactionId: "0000000000000000000000",
        registeredSystem: "S1",
        section: "IL"
      }
    };
  },
  methods: {
    onChange(data) {
      console.log(data);

      this.$store.dispatch("setHeader", this.requestHeader);
    }
  },
  computed: {
    getStore() {
      return this.$store.state.requestHeader;
    },
    getHeader() {
      return this.$store.state.titleHeader;
    }
  }
};
</script>

<style>
</style>